<system.diagnostics>
  <sharedListeners>
    <add name="ErrorsFile" type="Juillet.Diagnostics.FormattedTextWriterTraceListener, Juillet" initializeData="c:\home\LogFiles\Traces\truentry-sps-web-errors.log" format="[{#datetime}][{#event,4}][{#thread,-4}]: {#message}" datetimeformat="O">
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
    </add>
    <add name="PerfFile" type="Juillet.Diagnostics.FormattedTextWriterTraceListener, Juillet" initializeData="c:\home\LogFiles\Traces\truentry-sps-web-performance.log" format="{#datetime},{#thread},{#message}" datetimeformat="O">
      <filter type="System.Diagnostics.SourceFilter" initializeData="Performance"/>
    </add>
    <add name="DiagnosticsFile" type="Juillet.Diagnostics.FormattedTextWriterTraceListener, Juillet" initializeData="c:\home\LogFiles\Traces\truentry-sps-web-diagnostics.log" datetimeformat="O"/>
    <add name="AppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener">
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />
    </add>
  </sharedListeners>
  <sources>
    <source name="Bootstrap" switchValue="Information">
      <listeners>
        <clear />
        <add name="AppInsightsListener" />
        <add name="DiagnosticsFile" />
      </listeners>
    </source>
    <source name="Runtime" switchValue="Verbose">
      <listeners>
        <clear />
        <add name="AppInsightsListener" />
        <add name="DiagnosticsFile" />
      </listeners>
    </source>
    <source name="Performance" switchValue="Information">
      <listeners>
        <clear />
        <add name="PerfFile" />
      </listeners>
    </source>
  </sources>
  <switches>
    <add name="Bootstrap" value="1"/>
  </switches>
  <trace autoflush="true">
    <listeners>
      <remove name="Default" />
      <add name="ErrorsFile"/>
      <add name="DiagnosticsFile" />
      <add name="AppInsightsListener" />
    </listeners>
  </trace>
</system.diagnostics>