@import url('https://fonts.googleapis.com/css?family=Roboto');
.container {
  background-color: #fff;
  height: 100%;
}
.jumbotron {
  background-color: #508dd7;
  color: #fff;
}
.partner-join-pane {
  border-top: 1px solid #508dd7;
  padding-top: 8px;
  height: 80px;
  color: #2152af;
  margin-top: 35px;
}
.partner-join-pane .logo {
  height: 30px;
}
.footer {
  background-color: inherit;
}
.layout-root.browser .workspace {
  margin-top: 0px;
}
a.undecorated-link {
  color: inherit;
}
a.undecorated-link:hover {
  text-decoration: none;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #f3f3f4;
  font-size: 13px;
  color: #48544F;
  overflow-x: hidden;
}