@import "..\..\Configuration\b2cstyles-base.less";

@b2c-splash-image: url('https://spsonldvue.blob.core.windows.net/theme/truentry/splash-1920x1080.jpg');
@b2c-separator-color: #E7ECEF;
@b2c-divider-color: darkgray;
@b2c-button-bg: green;
@b2c-button-border-color: darkgreen;
@b2c-button-bg-hover: darkgreen;
@b2c-button-border-color-hover: black;
