@import "variables.less";

.badge-primary {
  background-color: @brand-primary;
  color: #FFFFFF;
}

.badge-success {
  background-color: @brand-success;
  color: @state-success-text;
}

.badge-warning {
  background-color: @brand-warning;
  color: @state-warning-text;
}

.badge-warning-light {
  background-color: lighten(@brand-warning, 15%);
  color: @state-warning-text;
}

.badge-danger {
  background-color: @brand-danger;
  color: @state-danger-text;
}

.badge-info {
  background-color: @brand-info;
  color: @state-info-text;
}

.badge-default {
  background-color: @btn-default-bg;
  color: @btn-default-color;
}

.badge-inverse {
  background-color: @navbar-inverse-bg;
  color: @navbar-inverse-color;
}

.badge-white {
  background-color: #FFFFFF;
  color: @text-color;
}

.badge-disable {
  background-color: @navbar-inverse-link-disabled-bg;
  color: @nav-disabled-link-hover-color;
}