@import "variables.less";

// The 20px here is important, its enough to pull content left of the browser scrollbar
.body-content {
  position: relative;
  padding: 0 20px 20px 20px;
  width: 100%;
  &.fw-media1200 {
    width: 1170px;
  }
  &.fw-media992 {
    width: 970px;
  }
  &.fw-media768 {
    width: 750px;
  }
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100%;
}

.page-heading {
  padding: 8px 0;
  margin-bottom: 12px;
  margin: 0 -20px 12px -20px;
}

.panel-heading h1,
.panel-heading h2 {
  margin-bottom: 5px;
}

.circle {
  border-radius: 50%;
}

// <img>
.img-circle-border {
  border: 4px solid @panel-default-border;
  border-radius: 50%;
}

.img-shadow {
  -webkit-box-shadow: @default-shadow;
  -moz-box-shadow: @default-shadow;
  box-shadow: @default-shadow;
}

.img-sm {
  width: 32px;
  height: 32px;
}

.img-md {
  width: 64px;
  height: 64px;
}

.img-lg {
  width: 96px;
  height: 96px;
}

// <a>
a.undecorated-link {
  color: inherit;
}

a.undecorated-link:hover {
  text-decoration: none;
}

// <input>
.input-w-sm {
  width: 150px;
}

.input-w-md {
  width: 300px;
}

.input-w-lg {
  width: 400px;
}

// <table>

th.fw-24 {
    width: 24px;
}
th.fw-32 {
    width: 32px;
}
th.fw-50 {
    width: 50px;
}
th.fw-80 {
    width: 80px;
}
th.fw-100 {
    width: 100px;
}
th.fw-150 {
    width: 150px;
}
th.fw-180 {
    width: 180px;
}
th.fw-200 {
    width: 200px;
}
th.fw-250 {
    width: 250px;
}
th.fw-300 {
    width: 300px;
}
th.pw-20 {
    width: 20%;
}
th.pw-25 {
    width: 25%;
}
th.pw-30 {
    width: 30%;
}
th.pw-40 {
  width: 40%;
}
th.pw-50 {
    width: 50%;
}
th.pw-60 {
  width: 60%;
}
th.pw-70 {
    width: 70%;
}
th.pw-80 {
    width: 80%;
}
th.pw-100 {
    width: 100%;
}
