@import "variables.less";

.no-borders {
  border: none !important;
}

.no-top-border {
  border-top: 0 !important;
}

.border {
  border: 1px solid @panel-default-border;
}

.border-left-right {
  border-left: 1px solid @panel-default-border;
  border-right: 1px solid @panel-default-border;
}

.border-top-bottom {
  border-top: 1px solid @panel-default-border;
  border-bottom: 1px solid @panel-default-border;
}

.border-left {
  border-left: 1px solid @panel-default-border;
}

.border-right {
  border-right: 1px solid @panel-default-border;
}

.border-top {
  border-top: 1px solid @panel-default-border;
}

.border-bottom {
  border-bottom: 1px solid @panel-default-border;
}

.border-width-sm {
  border-width: 3px;
}

.border-width-md {
  border-width: 6px;
}

.border-width-lg {
  border-width: 9px;
}

.border-width-xl {
  border-width: 12px;
}

.border-radius-xs {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.border-radius-sm {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.border-radius-md {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.border-radius-lg {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.border-radius-xl {
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
}

.border-whitesmoke {
    border: 1px solid whitesmoke !important;
}
.border-black {
    border: 1px solid black !important;
}
.border-white {
    border: 1px solid white !important;
}

.flag-border {
  padding-left: 6px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: @btn-default-bg;
  &.flag-border-danger {
    border-left-color: @brand-danger;
  }
  &.flag-border-warning {
    border-left-color: @brand-warning;
  }
  &.flag-border-info {
    border-left-color: @brand-info;
  }
  &.flag-border-primary {
    border-left-color: @brand-primary;
  }
  &.flag-border-success {
    border-left-color: @brand-success;
  }
  &.flag-border-white {
    border-left-color: white
  }
  &.flag-border-inverse {
    border-left-color: @navbar-inverse-bg;
  }
  &.flag-border-disable {
    border-left-color: @navbar-inverse-link-disabled-bg;
    color: @nav-disabled-link-hover-color;
  }
  &.flag-border-thin {
    border-left-width: 2px;
  }
  &.flag-border-wide {
    border-left-width: 6px;
  }
}
