
@color-facebook:#3b5998;
@color-twitter:#1da1f2;
@color-youtube:#e52d27;
@color-linkedin:#0077B5;

.text-white {
  color: white;
}

// social 
.twitter-bg {
    background-color: @color-twitter;
}
.facebook-bg {
    background-color: @color-facebook;
}
.youtube-bg {
    background-color: @color-youtube;
}
.linkedin-bg {
    background-color: @color-linkedin;
}
