@import "variables.less";

.label-inverse {
  background-color: @navbar-inverse-bg;
  color: @navbar-inverse-color;
}

.label-white {
  background-color: #FFFFFF;
  color: @text-color;
}

.label-disable {
  background-color: @navbar-inverse-link-disabled-bg;
  color: @nav-disabled-link-hover-color;
}
