@import "../bootstrap/variables.less";


@default-shadow: 0 0 6px 0 rgba(168, 168, 168, 1);

// CHROME

// footer
@footer-default-bg: @navbar-default-bg;
@footer-default-color: @navbar-default-color;
@footer-inverse-bg: @navbar-inverse-bg;
@footer-inverse-color: @navbar-inverse-color;

// navmenu
@navmenu-font-size: 0.9em;
@navmenu-width: 225px;
@navmenu-mini-width: 60px;

@navmenu-default-border: @navbar-default-border;
@navmenu-default-bg: @navbar-default-bg;
@navmenu-default-color: @navbar-default-color;
@navmenu-default-divider-color: #444;
@navmenu-default-item-color: @navbar-default-link-color;
@navmenu-default-item-focus-color: @navbar-default-link-active-color;
@navmenu-default-item-hover-bg: darken(@navmenu-default-bg, 6.5%);
@navmenu-default-item-active-flag-color: green;
@navmenu-default-item-active-hover-bg: @navbar-default-link-hover-bg;
@navmenu-default-item-active-hover-color: @navbar-default-link-hover-color;

@navmenu-inverse-border: @navbar-inverse-border;
@navmenu-inverse-bg: @navbar-inverse-bg;
@navmenu-inverse-color: @navbar-inverse-color;
@navmenu-inverse-divider-color: #444;
@navmenu-inverse-item-color: @navbar-inverse-link-color;
@navmenu-inverse-item-focus-color: @navbar-inverse-link-active-color;
@navmenu-inverse-item-hover-bg: darken(@navmenu-inverse-bg, 6.5%);
@navmenu-inverse-item-active-flag-color: lime;
@navmenu-inverse-item-active-hover-bg: @navbar-inverse-link-hover-bg;
@navmenu-inverse-item-active-hover-color: @navbar-inverse-link-hover-color;

// CARDS

@card-bg: white;
@card-shadow: 0 3px 7px 0 rgba(168, 168, 168, 1);
@card-heading-bg: @panel-default-heading-bg;
@card-primary-text: white;
@card-danger-text: @state-danger-text;
@card-warning-text: @state-warning-text;
@card-info-text: @state-info-text;
@card-success-text: @state-success-text;

@card-heading-h3-size: 18px;
@card-heading-h3-weight: bold;
@card-tools-color: #c4c4c4;
@card-tools-font-size: 12px;