
// CEAS colors
@ReNavy: #162a4b;
@CeasGray: #333333;
@ReTan: #e9d5b4;

// bootstrap overrides
@brand-primary: @ReNavy;
@brand-primary-inverse: @ReTan;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

@body-bg: #ffffff;
@text-color: #333;
@text-color-inverse: @ReTan;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);

//
// ER-ITN: The layout us navbar-default not navbar-inverse but
//         since ER-ITN theme is dark, it looks like navbar-inverse.
//
@navbar-default-brand-color: @ReTan;
@navbar-default-color: @ReTan;
@navbar-default-bg: @ReNavy;
@navbar-inverse-brand-color: @ReNavy;
@navbar-inverse-color: @ReNavy;
@navbar-inverse-bg: @ReTan;

@navbar-default-link-color: @ReTan;
@navbar-default-link-hover-color: #ffffff;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: @ReTan;
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color: #ccc;
@navbar-default-link-disabled-bg: transparent;