@import "tenant-layout-base.less";

.body-content {
  margin-top: 50px;
}

.navbar-brand {
  padding-top: 0;
}

#myOrganizationAvatarContainer {
  .avatar-view.avatar-item {
    margin-top: 20px;

    img {
      float: right;
      -webkit-box-shadow: 0 0 6px 0 #a8a8a8;
      -moz-box-shadow: 0 0 6px 0 #a8a8a8;
      box-shadow: 0 0 6px 0 #a8a8a8;
    }
  }
}

ul.organizations-mru-list {
  height: 100px;
  overflow: hidden;
}

ul.organizations-message-list {
  height: 200px;
  overflow-y: auto;
}

#backdropFallback {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}