// bootstrap overrides
@brand-primary: #001E14;
@brand-primary-inverse: #ffffff;
@brand-success: #5cb85c;
@brand-info: #9E0034;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

@body-bg: #ffffff;
@text-color: #333;
@text-color-inverse: #cccccc;
@link-color: #162a4b;
@link-hover-color: #162a4b;

@navbar-default-brand-color: #ffffff;
@navbar-default-color: #ffffff;
@navbar-default-bg: #001E14;
@navbar-inverse-brand-color: #001E14;
@navbar-inverse-color: #001E14;
@navbar-inverse-bg: #ffffff;

@navbar-default-link-color: #ffffff;
@navbar-default-link-hover-color: #ffffff;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: #ffffff;
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color: #ccc;
@navbar-default-link-disabled-bg: transparent;