
//
// DEFINE COMMON VARIABLES FOR ALL PAGES
//
// These styles define general theme settings for the application.  They should not
// include tenant specific branding since unbranded pages use this file.
//
// The colors are styles here represent our customization of bootstrap, not branding.
//

@trusilver: #e7ecef;
@trunavy: #274c77;
@trumidblue: #6096ba;
@trulightblue: #a3cef1;
@trugray: #8b8c89;
@trublue: #508dd7;
@trudarkblue: #2152af;
@white: #fff;
@black: #000;

// default page styles
@default-font-family: Roboto, Helvetica, Arial, sans-serif;
@default-text-color: #48544F;
@default-page-background-color: #f3f3f4;
@default-form-control-bg: @white;
@default-form-control-fg: @default-text-color;
@default-form-control-border: #e5e6e7;
@default-font-size: 13px;

// sidebar style
@sidebar-width: 130px;
@sidebar-height: 100%;
@sidebar-bg: #2f4050;
@sidebar-fg: #a7b1c2;

// topbar style
@topbar-height: 50px;
@topbar-bg: @black;
@topbar-text: @white;

// frequently used styles
@bg-muted: #f3f3f4;
@text-muted: #888888;
@text-white: #ffffff;

// card styles
@card-border-color: #e7eaec;
@card-title-bg: #ffffff;
@card-content-bg: #ffffff;

// sizes
@img-sm-w: 32px;
@img-sm-h: 32px;
@img-md-w: 64px;
@img-md-h: 64px;
@img-lg-w: 96px;
@img-lg-h: 96px;
@img-xl-w: 128px;
@img-xl-h: 128px;

@input-s: 200px;
@input-s-sm: 120px;
@input-s-lg: 250px;

// specific tags
@code-bg: @default-page-background-color;
@code-fg: @default-text-color;