
// CEAS colors
@CeasRed: #b5121b;
@CeasGray: #7a7a7a;
@CeasWhite: #f5f5f5;

// bootstrap overrides
@brand-primary: @CeasRed;
@brand-primary-inverse: @CeasWhite;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

@body-bg: #ffffff;
@text-color: #333;
@text-color-inverse: @CeasWhite;
@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);

//
// ER-ITN: The layout us navbar-default not navbar-inverse but
//         since ER-ITN theme is dark, it looks like navbar-inverse.
//
@navbar-default-brand-color: @CeasWhite;
@navbar-default-color: @CeasWhite;
@navbar-default-bg: @CeasRed;
@navbar-inverse-brand-color: @CeasRed;
@navbar-inverse-color: @CeasRed;
@navbar-inverse-bg: @CeasWhite;

@navbar-default-link-color: @CeasWhite;
@navbar-default-link-hover-color: #ffffff;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: @CeasWhite;
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color: #ccc;
@navbar-default-link-disabled-bg: transparent;